:root {
    --bg-button: #eee;
    --border-button: solid 1px #888;
    --color-button: #333;
    --bg-active: #ccc;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    color: var(--color-button);
    outline: none;
}

.button:active {
    background-color: var(--bg-active);
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: rgb(247, 119, 73);
    color: #eee;
}

.button.operation:active {
    background-color: rgb(184, 100, 70);
}